.item-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.item-detail-container .btn {
  align-self: flex-start;
  margin-left: 25px;
}

.item-detail {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item-detail .row {
  align-items: center;
}

.item-detail img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.item-detail .card-body {
  padding: 2rem;
}

.item-detail .card-title {
  font-size: 2rem;
  font-weight: bold;
}

.item-detail .card-text {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.card.item-detail:hover {
  box-shadow: none !important;
}

.card.item-detail:hover img {
  transform: none !important;
}
