.item-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}


.search {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 50px;
    max-width: fit-content;

}