.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 0,5rem;


}

.cart-img {
  transition: none !important;
  transform: none !important;
  max-width: 100px;
  max-height: 250px;
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  
}

.cart-img:hover {
  transition: none !important;
  transform: none !important;
}

.cart-card {
  width: 100%; 
  min-height: 100px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 1rem;
}

.cart-card .btn-danger {
    max-width: 100px;
}